* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(./media/background.jpg);
  background-size: cover;
}

html {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.App {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 1.5% 2%;
  margin: 2% 25%;
}

a:link, a:active, a:hover, a:visited {
  color: #8daa14;
  text-decoration: none;
}

/* -----------------------
  SECTION TITLES
-----------------------*/

.app-title {
  font-family: "Bebas Neue";
  display: flex;
  margin-bottom: 15px;
}

.app-title p {
  letter-spacing: 1px;
  font-size: 22px;
}

.app-buttons {
  display: flex;
  align-self: flex-start;
  margin-left: auto;
}

.section-title {
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  font-size: 200%;
  padding-top: 2%;
}

ion-icon[name="help-circle-sharp"], ion-icon[name="settings-sharp"], ion-icon[name="close-sharp"] {
  font-size: 32px;
}

/* -----------------------
  TIMER
-----------------------*/

.time-left, 
.session-type, 
.focus-number {
  text-align: center;
  margin-bottom: 12px;
}

.time-left {
  font-family: "Bebas Neue", monospace;
  font-size: 500%;  
}

.session-type {
  font-family: "Bebas Neue", monospace;
  font-size: 200%;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-icon {
  font-size: 56px;
  cursor: pointer;
}

ion-icon[name="play-sharp"], ion-icon[name="pause-sharp"] {
  font-size: 96px;
}

ion-icon:active {
  transform: translateY(4px);
}

/* -----------------------
  ABOUT
-----------------------*/

#about-modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 25%;
}

.x-grid-about {
  grid-column-start: 3;
}

.about-grid {
  grid-column-start: 1;
  grid-column-end: 3;
  line-height: 150%;
  padding: 1% 0;
}

/* -----------------------
  SETTINGS
-----------------------*/

.modal {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 250%;
}

#settings-modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 25%;
}

.x-grid {
  grid-column-start: 3;
}

.focus-grid {
  grid-column-start: 1;
}

.break-grid {
  grid-column-start: 2;
}

.long-break-grid {
  grid-column-start: 1;
}

.focus-sessions-grid {
  grid-column-start: 2;
}

.autostart-grid {
  grid-column-start: 1;
  display: flex;
  align-items: center;
}

.timer-title-grid {
  grid-column-start: 2;  
  display: flex;
  align-items: center;
}

label {
  margin-right: 15px;
}

input[type=number] {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  width: 100px;
  border: none;
  border-bottom: 1px solid #8daa14;
  margin-right: 30px;
}

/* -----------------------
  SETTINGS TOGGLE BUTTONS
-----------------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  margin-left: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px; /* must match switch height */
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #8daa14;
}

input:focus+.slider {
  box-shadow: 0 0 1px #8daa14;
}

input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* -----------------------
  SETTINGS/ABOUT ANIMATION
-----------------------*/

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-out-bottom {
  -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}