/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    margin: 0;
    background-image: url(./media/background.jpg);
    background-size: cover;
  }
  
  html {
    color: #fff;
    background-color: var(--dark-navy);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
  }
  
  .App {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1, h2 {
    font-weight: 200;
    /* text-transform: uppercase; */
  }
  
  h1 {
    font-size: 350%;
    font-family: "Bebas Neue";
  }
  
  h2 {
    font-size: 250%;
    font-family: "Bebas Neue"
  }
  
  /* timer controls */
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-icon {
    font-size: 56px;
    cursor: pointer;
  }
  
  ion-icon[name="play-sharp"], ion-icon[name="pause-sharp"] {
    font-size: 96px;
  }
  
  ion-icon:active {
    transform: translateY(4px);
  }
  
  .settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  input[type=number] {
    border: none;
    border-bottom: 2px solid greenyellow;
    font-family: "Bebas Neue", monospace;
    font-size: 26px;
    color: #333;
  }
  
  /* settings modal */  
  .modal {
    background-color: #fafafa;
    color: #333;
    border-radius: 2px;
    padding: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  }

  /* toggle button */  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked+.slider {
    background-color: greenyellow;
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px greenyellow;
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }